<div class="row justify-content-md-center my-2">
  <div class="col col-lg-3">
    <div class="card border-2">
      <div class="card-body">
        <form method="post">
          <h5 class="card-title">
            <input type="text" name="title" placeholder="Title" />
          </h5>
          <h6 class="card-subtitle mb-2">
            <input type="text" name="href" placeholder="URL" />
          </h6>
          <input type="text" name="tags" placeholder="Tags" />
          <br /><input type="submit" value="Save">
        </form>
      </div>
    </div>
  </div>
</div>
